Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [2]:
def is_two(n):
    if n == 2:
        return True
    else:
        return False

In [3]:
is_two(4)

False

In [36]:
vowels = "aeiouAEIOU"


def is_vowel(vowel):
    if vowel in vowels:
        return True
    else:
        return False

In [10]:
is_vowel('u')

True

In [15]:
is_vowel('a')

True

In [20]:
vowels = "aeiouAEIOU"

def is_consonant(consonant):
    if consonant not in vowels:
        return True
    else:
        return False

In [17]:
is_consonant('e')

False

In [18]:
is_consonant('p')

True

In [4]:
#def is_consonant(string):
    #return len(string) == 1 and not is_vowel(string) and string.isalpha()

#if the lenght of the string is 1 and for it not to be a vowel and the string is isalpha?
#The isalpha() method returns True if all the characters are alphabet letters (a-z)

Define a function that accepts a string 

that is a word. 

The function should capitalize the first letter of the word

if the word starts with a consonant.

In [32]:
def capitalize_starting_consonant(string):
    first_letter = string[0] #the brackets [0] means they are reaching the first letter* remeber that zero on pythn means 1 
    if is_consonant(first_letter):# this was using the expression from earlier 
        string = string.capitalize()#this one is telling it to capitalize it 
    return string

In [31]:
capitalize_starting_consonant('cow')

'Cow'

Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [13]:
def calculate_tip(tip_percentage, bill):
    amount_to_tip = bill * tip_percentage
    return amount_to_tip

In [16]:
calculate_tip(15, 1.2)

18.0

Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [13]:
def apply_discount(orig_price, discount):
    total_price = orig_price * discount
    return orig_price - total_price

In [14]:
apply_discount(23, .12)

20.240000000000002

Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [15]:
# Exercise 7
# Define a function named handle_commas. 
# It should accept a string that is a number that contains 
# commas in it as input, 
# and return a number as output.
#i keep forgetting about the replace 

def handle_commas(string):
    no_comma = string.replace(',', '')
    new_number = int(no_comma)
    return new_number

In [16]:
handle_commas('1,245')

1245

Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [17]:
 #accepting a number 
# and get a letter grade in return 
    
    
    
def get_letter_grade(grade):
    if grade >= 90:
        return "A"
    elif grade >= 80:
        return "B"
    elif grade >= 70:
        return "C"
    elif grade >= 60:
        return "D"
    else:
        return "F"

In [18]:
get_letter_grade(23)

'F'

In [19]:
get_letter_grade(73)

'C'

Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [37]:
def remove_vowels(string):
    output = ''#when there is a character "char" in string 
    for char in string:# it knows to put a blank output when the cahacter is NOT a consosnant
        if is_consonant(char):#but you have to show that the consonants do have to show 
            output += char
    return output#and returnen what you have refrnced

In [38]:
remove_vowels('doggy')

'dggy'

In [39]:
remove_vowels('cow')

'cw'

Define a function named normalize_name. 
It should accept a string and return a valid python identifier, that is:


anything that is not a valid python identifier should be removed
** not sure what this means  ???
** like not a number ???
-- explinations-- no blanks or special characters.


leading and trailing whitespace should be removed
everything should be lowercase

--removing white space in the front or back of the name
-- everything lowercase
-- this was in the data types part of python* using the .stip function


  
 
 
spaces should be replaced with underscores
for example:

any blank space in the middel of the word 
 -- im thinking this is a .replace function

Name will become name
First Name will become first_name
% Completed will become completed

In [40]:
def remove_special_char(string):
    return ''.join([c for c in string if c.isalnum() or c == ' '])




def normalize_name(string):
    special_char_removed = remove_special_char(string)
    return special_char_removed.lower().strip().replace(' ', '_')

Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [41]:
normalize_name('Pizza')

'pizza'

In [42]:
normalize_name('HamburGER')

'hamburger'

In [43]:
remove_special_char('#$Cheese*&')

'Cheese'

Exercise 11
Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [44]:
def cumulative_sum(nums):
    output = []
    total = 0
    for num in nums:
        total += num
        output.append(total)
    return output

In [45]:
cumulative_sum([1, 4, 5, 7])

[1, 5, 10, 17]