In [2]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [3]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

#Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

#Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

#Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

#Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

In [11]:
uppercased_fruits = [fruit.upper() for fruit in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

#Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

In [13]:
capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

#Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

In [22]:
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if (
    fruit.count("a") + 
    fruit.count("e") + 
    fruit.count("i") + 
    fruit.count("o") + 
    fruit.count("u")) > 2]

fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

#Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

In [27]:
fruits_with_only_two_vowels = [fruit for fruit in fruits if (
    fruit.count("a") + 
    fruit.count("e") + 
    fruit.count("i") + 
    fruit.count("o") + 
    fruit.count("u")) == 2]
    
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

#Exercise 5 - make a list that contains each fruit with more than 5 characters

In [53]:
more_than_5 = [fruit for fruit in fruits if (len(fruit) > 5)]
more_than_5

['strawberry', 'pineapple', 'mandarin orange']

#Exercise 6 - make a list that contains each fruit with exactly 5 characters

In [60]:
exactly_five = [fruit for fruit in fruits if (len(fruit) == 5)]

exactly_five

['mango', 'guava']

Exercise 7 - Make a list that contains fruits that have less than 5 characters

In [69]:
less_than_five = [fruit for fruit in fruits if (len(fruit) < 5)]
less_than_five

['kiwi']

In [68]:
less_than_fiv = [(len(fruit) < 5) for fruit in fruits]

less_than_fiv

[False, True, False, False, False, False]

Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

In [65]:
Number_of_char = [len(fruit) for fruit in fruits]

Number_of_char

[5, 4, 10, 5, 9, 15]

 Exercise 10 - Make a variable named even_numbers that holds only the even numbers

In [72]:
even_numbers = [number for number in numbers if (number % 2 == 0)]
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

In [74]:
odd_number = [number for number in numbers if (number % 2 == 1)]

odd_number

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

Make a variable named positive_numbers that holds only the positive numbe

In [76]:
positive_num = [number for number in numbers if (number > 0)]

positive_num

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

In [77]:
negative_num = [number for number in numbers if (number < 0)]

negative_num

Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

In [84]:
more_than_two = [number for number in numbers if (number > 9 or number < -9)]

more_than_two

[10, 11, 13, 17, 19, 23, 256]

 Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

In [93]:
numbers_squared = [(number**2) for number in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

In [95]:
odd_negative_numbers = [number for number in numbers if (number % 2 == 1 and number < 0)]

odd_negative_numbers

[-9]

Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five.

In [97]:
numbers_plus_5 = [(number + 5) for number in numbers]
numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.

In [101]:
i_like_coffee = 9


if i_like_coffee:
    print('I like coffee!')
    print('Coffee is the best!')

I like coffee!
Coffee is the best!

In [106]:
for n in range(100_000):
    if n > 10:
        break
    print(n)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [ ]:
How many students are there?

In [ ]:
How many students prefer light coffee? For each type of coffee roast?

In [ ]:
How many types of each pet are there?

In [ ]:
How many grades does each student have? Do they all have the same number of grades?

In [ ]:
What is each student's grade average?

In [ ]:
How many pets does each student have?

In [ ]:
How many students are in web development? data science?

In [ ]:
What is the average number of pets for students in web development?

In [ ]:
what is the average pet age for students in data science?

In [ ]:
What is most frequent coffee preference for data science students?